
html {
  background: #0025FF;
  color: #fff;
}


header {
  padding: 20px;
  
}

.logo {
  text-align: center;
  display: inline-block;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #fff;
  margin-left: auto;
  margin-right: auto;

}

.logo img {
  width: 140px;
  margin-top: 55px;

}

.container {
margin: auto;
margin-top: 5%;
padding: 5vw;
background: #ffc9d9;
width: 70%;
height: auto;
display: flex;
flex-flow: row wrap;
justify-content: space-between;

}


.card {
  height: 240px;
  width: 205px;
  margin-top: 4%;
  border-style: dotted;

 }




.imgcontainer {
width: 179px;
height: 179px;
overflow: hidden;
margin: auto;
margin-top: 5%;
box-shadow: 2px 2px 5px #0025ff;

}

.imgcontainer img {
height: auto;
width: 100%;

}


.card p  {
text-align: center;
font-size: 25px;
font-family: 'Varela', sans-serif;
color: #f19333;
margin-top: 6%;
letter-spacing: 2px;
text-shadow: 1px 1px #0025ff;

}

@media (min-width:401px) and (max-width:800px) {
   .container {
     justify-content: space-around;
   }
}

@media (max-width:400px) {

.card {
  margin-left: 6vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  }
}
